*{
    direction: rtl;
}
.pagination{
    direction: ltr !important;
}
.bg-gray{
    background-color: #EFEEEE;
}
.mytable> thead> tr> th{
    text-align: center;
}
.mytable> tbody> tr{
    text-align: center;
}
.loading{
    position: absolute;
left: 50%;
top: 50%;
}
#active > button{
    background-color: #000f47;
    color: #fff;
}
.Radiogroup > div{
    margin-right: 10px;
}
.cursor-pointer{
    cursor: pointer;
}
.listshow{
    margin-top: -1.5rem;
}