@font-face {
    font-family: 'IRANSansWeb';
    src: local('IRANSansWeb'), url(./fonts/IRANSansWeb.ttf) format('truetype');
  }
*{
    direction: rtl;
    font-family:IRANSansWeb;
}
.pagination{
    direction: ltr !important;
}
.bg-gray{
    background-color: #EFEEEE;
}
.mytable> thead> tr> th{
    text-align: center;
}
.mytable> tbody> tr{
    text-align: center;
}
.loading{
    position: absolute;
left: 50%;
top: 50%;
}
#active > button{
    background-color: #000f47;
    color: #fff;
}
.Radiogroup > div{
    margin-right: 10px;
}
.cursor-pointer{
    cursor: pointer;
}
.listshow{
    height: auto;
overflow-y: auto;
direction: ltr;
position: absolute;
z-index: 5;

}
.listshow >div >div >div{
    margin-bottom: 1px;
}